<p id="notice"><%= notice %></p>

<p>
  <strong>参加者氏名:</strong>
  <%= @join.name %>
</p>

<p>
  <strong>社員番号:</strong>
  <%= @join.number %>
</p>

<p>
  <strong>編集用PW:</strong>
  <%= @join.pass %>
</p>

<%= link_to '戻る', "/events" %>